<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #proyectoForm ="ngForm" (ngSubmit) ="addProyecto(proyectoForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="proyectoService.selectedProyecto._id">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="proyectoService.selectedProyecto.nombre" placeholder="Ingresa tu nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                    <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="proyectoService.selectedProyecto.apellido" placeholder="Ingresa tu apellido">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                    <input type="text" name="direccion" #direccion="ngModel" [(ngModel)]="proyectoService.selectedProyecto.direccion" placeholder="Ingresa tu direccion">
                            </div>
                        </div>
                        <div class="row">
                        <div class="card action">
                            <div class="input-field col s12">
                                <button class="btn right">Guardar</button>
                                <button class="btn left" (click)="resetForm(proyectoForm)">Limpiar</button>

                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col_s7">
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>
                </thead>
                <tbody>
                    <tr *ngFor="let proyecto of proyectoService.darinformacion">
                        <td>{{proyecto.nombre}}</td>
                        <td>{{proyecto.apellido}}</td>
                        <td>{{proyecto.direccion}}</td>
                        <td (click)="editProyecto(proyecto)">
                            <i class="material-icons">edit</i>
                        </td>
                        <td (click)="deleteProyecto(proyecto._id)">
                            <i class="material-icons">delete</i>
                        </td>
                    </tr>
                    <th></th>
                    <th></th>
                </tbody>
            </table>
        </div>

    </div>
</div>
